/* C to the S to the S */
@import "keyframe.css";

* {
    margin: 0;
    padding: 0;

    -webkit-font-smoothing: antialiased;
}

body {
    background: #0c0c0c url("../images/dark_mobile.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color:#c7c7c7;
    font-family: 'Space Mono', monospace;
    font-weight: 900;
    text-shadow: 0 1px 1px rgba(255,255,255,.25);
    letter-spacing: -0.01em;
}

@media (min-width: 1366px) {
    body {
        background: #0c0c0c url("../images/dark_theme.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:#c7c7c7;
        font-family: 'Space Mono', monospace;
        font-weight: 900;
        text-shadow: 0 1px 1px rgba(255,255,255,.25);
        letter-spacing: -0.01em;
    }
}

ul.content {
    list-style: none;
    position: absolute;
    left: 130px;
    top: 24%;
    width: 500px;
    margin-top: -62px;
}

ul li {
    padding: 10px 0;
}

#first-line {
    font-size: 22px;
}

a {
    text-decoration: none;
    color: #e5eef4;
    font-weight: bold;
    border-bottom: 1px dotted #ccc;
    background: #e5eef4;
    color: #111;
}

a:hover {
    background: #84a403;
    color: #111;
}

.typing {
    position: relative;
    display: inline-block;
    width: 8px;
    text-indent: -999em;
    background: #747474;
    -webkit-animation: flick 1s infinite;
    -moz-animation: flick 1s infinite;
    -ms-animation: flick 1s infinite;
    -o-animation: flick 1s infinite;
    animation: flick 1s infinite;
}



/*.dollar:before {
    content: '$';
    padding-right: 20px;
    
    color: #50657b;
}*/

@media (max-width: 550px) {
    body {
        font-size: 15px;
        min-height: 530px;
    }
    ul.content {
        width: 80%;
        top: 20%;
        left: 10%;
        min-width: 290px;
    }
}

.white-text {
    color: white;
}